.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.weather_wrapper {
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

.weather_flex {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.weather_flex p {
  margin: 5px;
  align-self: center;
}

.weather_button {
  width: 130px;
  height: 30px;
  border-radius: 10px;
  color: ghostwhite;
  background-color: cadetblue;
  border: none;
  padding: 0;
  cursor: pointer;
}

.weather_city_name {
  margin: 10px;
}

.temperature {
  font-size: 18px;
}

.temperature_block {
  display: flex;
}

.temperature_celsius {
  font-size: 47px;
}

.error_header {
  line-height: 8;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .weather_wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
